@using Microsoft.AspNetCore.Authentication

@{
    ViewData["Title"] = "Privacy Policy";

    var email = User.Identity?.Name;
    var displayName = @User.FindFirst("name")?.Value;
    var userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
    var objectId = User.FindFirst(Microsoft.Identity.Web.ClaimConstants.ObjectId)?.Value;
    var tenantId = User.FindFirst(Microsoft.Identity.Web.ClaimConstants.TenantId)?.Value;
}

<h2>Access Token</h2>

@ViewBag.token

<h2>Claims</h2>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

<h2>Properties</h2>

<dl>
    @{
        var items = (await Context.AuthenticateAsync()).Properties?.Items;
    }
    @if (items != null) foreach (var prop in items)
    {
        <dt>@prop.Key</dt>
        <dd>@prop.Value</dd>
    }
</dl>